.highcharts-light {
	--highcharts-color-0: #f7b731;
	--highcharts-color-1: #3ba9b8;
	--highcharts-color-2: #3ba9b8;
	--highcharts-color-3: #3ba9b8;
	--highcharts-color-4: #3ba9b8;
	--highcharts-color-5: #3ba9b8;
	--highcharts-color-6: #3ba9b8;
	--highcharts-color-7: #3ba9b8;
	--highcharts-color-8: #3ba9b8;
	--highcharts-color-9: #3ba9b8;
	.highcharts-sankey-series .highcharts-link {
		fill-opacity: 0.2;
	}
	.highcharts-sankey-series .highcharts-point-hover.highcharts-link {
		fill-opacity: 0.7;
	}
	.highcharts-node {
		border-radius: 0;
	}
	.highcharts-data-label text,
	text.highcharts-data-label {
		font-weight: normal;
		fill: #858585;
		.highcharts-strong {
			fill: #333333;
		}
	}
}
